body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 5px;
  max-width: 100%;
}

.App {
  max-width: 48rem;
  margin: 0 auto;
}

.entertainment-list a {
  color: inherit;
}
